<section>
    <ol class="breadcrumb">
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li class="active">Request Admin Report</li>
    </ol>
    
    <br>
    <br>


    <form (ngSubmit)="requestSubmit()" #userForm="ngForm" class="form-horizontal">
        <button type="submit" class="btn btn-primary">View All Open Requests</button>
    </form>
    <app-admin-requests [results]="results" [showTable]="showTable" #yoohoo [admin]="admin"></app-admin-requests>

    <br>
    <br>


    <form (ngSubmit)="requestMentors()" #userForm="ngForm" class="form-horizontal">
        <button type="submit" class="btn btn-primary">View All Mentors</button>
    </form>
    <app-admin-mentors [MentorProfile]="MentorProfile" [showTable]="showTable" #more [admin]="admin"></app-admin-mentors>



    <br>
    <br>
    
    <form (ngSubmit)="editSkills()" #userForm="ngForm" class="form-horizontal">
           <button type="submit" class="btn btn-primary">Manage Skills</button>&nbsp;
        </form>
    
    <br>
        

    <table *ngIf="showTableSkills" class="table table-striped table-bordered" id="removeSkill" style="max-width: 27%">
        <thead>
            <th>Skills</th>
        </thead>
        <tbody>
            <tr *ngFor="let responses of resultsSkills">
                <form (ngSubmit)="removeSkills(responses.id)" #userForm="ngForm">
                    <a style="max-width: 20%">
                    <td> {{ responses?.skills }} </td>
                </a>
                    <td>
                        <a style="padding-left:200px">
                        <button type="submit" class="btn btn-primary">Remove Skill</button>
                        </a>
                    </td>
                </form>
            </tr>
        <br>
        <br>   
        
       <tr>
                <form (ngSubmit)="addTheSkill(userForm)" #userForm="ngForm">
                    <td>
                        <input ngModel #user_skill="ngModel" type="text" class="form-control" id="newSkill" name="newSkill" required
                            minlength="2" maxlength="30" placeholder="Add New Technical Skill">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Add New Skill</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    
</section>