
<hr>
<hr>


<nav class="navbar">
    <div>
      <div>
        <div>
          <p>Ajax</p>
          <a href="https://www.w3schools.com/xml/ajax_intro.asp" target="_blank" class="btn btn-info" role="button" [ngStyle]="{'background-color': '#1976D2'}">W3 Schools</a>
          <p>Angular</p>
          <a href="https://angular.io/" target="_blank" class="btn btn-info" role="button" [ngStyle]="{'background-color': '#1976D2'}">Angular I/O</a>
          <p>Faster XML / Jackson Annotations</p>
          <a href="https://github.com/FasterXML/jackson" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Faster XML</a>
          <a href="https://github.com/FasterXML/jackson-annotations/wiki/Jackson-Annotations" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Jackson-Annotations</a>
          <p>HTML/CSS</p>
          <a href="https://material.io/color/#!/?view.left=0&view.right=0" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Material I/O</a>
          <a href="http://learnlayout.com/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Learn Layout</a>
          <a href="https://fonts.google.com/"target="_blank"  class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Google Fonts</a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Mozilla</a>
          <a href="https://getbootstrap.com/docs/3.3/css" target="_blank"  class = "btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Bootstrap</a>
          <p>JavaScript</p>
          <a href="http://javascript.info/" target="_blank"class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">JS Info</a>
          <a href= "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Loops_and_iteration" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Mozilla</a>
          <p>JQuery</p>
          <a href="https://code.jquery.com/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">JQuery</a>
          <p>Json</p>
          <a href="http://www.json.org/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Json.org</a>
          <a href="https://www.jsonschemavalidator.net/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Scheme Validator</a>
          <a href="http://jsonprettyprint.com/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Prettyprint</a>
          <p>Sass</p>
          <a href="http://sass-lang.com/guide" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Sass-Lang</a>
          <p>Rest Service</p>
          <a href="https://spring.io/guides/gs/rest-service/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Srping I/O</a>
          <p>Spring JPA</p>
          <a href="https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#jpa.query-methods.query-creation" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Query Methods</a>
          <p>Webjars</p>
          <a href="https://www.webjars.org/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Webjars</a>
          <p>Training</p>
          <a href="http://sqlzoo.net/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">SQLzoo</a>
          <a href="http://flexboxfroggy.com/" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Flexbox Froggy</a>
          <a href="http://codingbat.com/java" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Codingbat</a>
          <a href="https://www.codewars.com/kata/search/java?q=&beta=false&order_by=rank_id+asc" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Codewars</a>
          <a href="https://app.pluralsight.com/id/signin/?redirectTo=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2F" target="_blank" class="btn btn-info" role="button"[ngStyle]="{'background-color': '#1976D2'}">Pluralsight</a>
         
        </div>
      </div>
    </div>
</nav>   