<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li class="active">Manage Profile</li>
  </ol>

  <h2>Mentor Profile Form</h2>

  <form (ngSubmit)="requestSubmit(userForm)" #userForm="ngForm" class="form-horizontal">
    <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
      <tbody>
        <tr>
          <td>First Name</td>
          <input ngModel #user_firstName="ngModel" type="text" class="form-control" id="firstname" name="firstname" placeholder="e.g. Eric"
            required minlength="2" maxlength="15">
        </tr>

        <tr>
          <td>Last Name</td>
          <input ngModel #user_lastName="ngModel" type="text" class="form-control" id="lastname" name="lastname" placeholder="e.g. Schwartz"
            required minlength="2" maxlength="15">
        </tr>

        <tr>
          <td>Office</td>
          <input ngModel #user_Office="ngModel" type="text" class="form-control" id="office" name="office" required minlength="2" maxlength="10"
            placeholder="Dropdown">
        </tr>
        <tr>
          <td>Market</td>
          <input ngModel #user_Market="ngModel" type="text" class="form-control" id="market" name="market" required minlength="2" maxlength="10"
            placeholder="Dropdown">
        </tr>
        <tr>
          <td>Department</td>
          <input ngModel #user_Department="ngModel" type="text" class="form-control" id="department" name="department" required minlength="2"
            maxlength="10" placeholder="Dropdown">
        </tr>
        <tr>
          <td>Contact Method</td>
          <input ngModel #user_Department="ngModel" type="text" class="form-control" id="contact_method" name="contact_method" required
            minlength="2" maxlength="20" placeholder="Dropdown">
        </tr>
        <tr>
          <td>Best Contact</td>
          <input ngModel #user_bestContact="ngModel" type="text" class="form-control" id="best_contact" name="best_contact" required
            minlength="2" maxlength="30" placeholder="Dropdown">
        </tr>

        <tr>
          <td>Skills Offered
          </td>
          <input ngModel #user_skillsOffered="ngModel" type="text" class="form-control" id="skillsOffered" name="skillsOffered" required
            minlength="2" maxlength="25" placeholder="Dropdown">
        </tr>
        <tr>
          <td>Time Frame
          </td>
          <input ngModel #user_timeFrame="ngModel" type="text" class="form-control" id="timeFrame" name="timeFrame" required minlength="9"
            maxlength="20" placeholder="Next Week/Next Two Weeks/Next Three Weeks">
        </tr>

        <tr>
          <td>Hours Available
          </td>
          <input ngModel #user_hoursAvailable="ngModel" type="number" class="form-control" id="hours_available" name="hours_available"
            required minlength="1" maxlength="2" placeholder="1-10">
        </tr>

        <tr>
          <td>Availability Status
          </td>
          <input ngModel #user_availabilityStatus="ngModel" type="text" class="form-control" id="availability_status" name="availability_status"
            required minlength="2" maxlength="3" placeholder="yes/no">
        </tr>


        <tr>
          <td>
            <button type="submit" class="btn btn-primary">Submit Profile</button>&nbsp;
          </td>
        </tr>
      </tbody>
    </table>

  </form>
</section>